﻿@using Dmd.TestTask.Domain.Entity
@model GoalViewComponentModel

<ul>
    @foreach (Goal goal in Model.Model)
    {
        if (goal.Children.Any())
        {
            <li class="parent closed">
                <span data-id="@goal.Id"><span></span>@goal.Name</span>
                @await Component.InvokeAsync("GoalTreeComponent", new { goals = goal.Children, isFirstCall = false })
            </li>
        }
        else
        {
            <li><span data-id="@goal.Id">@goal.Name</span></li>
        }
    }
</ul>