﻿@using Dmd.TestTask.Domain.Entity
@using Dmd.TestTask.Dto
@using Microsoft.AspNetCore.Mvc.Localization
@model GoalEditViewModel
@inject IViewLocalizer Localizer

<div>
    <form asp-action="Edit" asp-controller="Home"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#info"
          data-ajax-failure="failed"
          data-ajax-complete="onComplete">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ParentId)
        @Html.HiddenFor(m => m.ChildFactDuration)
        @Html.HiddenFor(m => m.ChildPlanDuration)
        <div class="container">
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["GoalName"]</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["GoalDescription"]</label>
                <div class="col-9">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 3 })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["GoalAssignees"]</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.Assignee, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["GoalInitiated"]</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.InitiateDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["GoalClosed"]</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.ClosedDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["Hours"]</label>
                <div class="col-2">
                    @Html.EditorFor(model => model.TaskHours, new { htmlAttributes = new { @id = "durationHr", @class = "form-control", min = 0 } })
                </div>
                <label class="col-2 col-form-label">@Localizer["Minutes"]</label>
                <div class="col-2">
                    @Html.EditorFor(model => model.TaskMinutes, new { htmlAttributes = new { @id = "durationMin", @class = "form-control", min = 0, max = 59 } })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["FactHours"]</label>
                <div class="col-2">
                    @Html.EditorFor(model => model.FactTaskHours, new { htmlAttributes = new { @id = "factDurationHr", @class = "form-control", min = 0 } })
                </div>
                <label class="col-2 col-form-label">@Localizer["FactMinutes"]</label>
                <div class="col-2">
                    @Html.EditorFor(model => model.FactTaskMinutes, new { htmlAttributes = new { @id = "factDurationMin", @class = "form-control", min = 0, max = 59 } })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["PlanDuration"]</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.PlanDuration, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["FactDuration"]</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.FactDuration, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["GoalStatus"]</label>
                <div class="col-9">
                    @Html.DropDownListFor(x => x.Status, Model.AllStatuses, new
                    {
                        @class = "form-control selectpicker",
                        data_width = "auto",
                        data_live_search = "true"
                    })
                </div>
            </div>
            @if (Model.Children.Any())
            {
            <div class="form-group row">
                <label class="col-3 col-form-label">@Localizer["ChildrenGoals"]</label>
                <div class="col-9">
                    @foreach (ChildGoalDto item in Model.Children)
                        {
                    <a class="list-group-item">
                        <div class="d-flex w-50 justify-content-between">
                            <h5 class="mb-1 flex-fill">@item.Name</h5>
                        </div>
                        <small>@Localizer["PlanDuration"] : @item.PlanDurationTitle</small>
                        <br />
                        <small>@Localizer["FactDuration"] : @item.FactDurationTitle</small>
                    </a>
                        }
                </div>
            </div>
            }
            @if (Model.Status != Status.Finished)
            {
            <div class="form-group row">
                <div class="offset-3">
                    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                </div>
            </div>
            }
        </div>
    </form>
</div>


<script>

    $('#durationHr').change(function () {
        var childPlanDuration = parseInt(getChildPlanDuration());
        var newValue = ($(this).val() * 3600) + parseInt($("#durationMin").val()) * 60;
        var planDuration = parseInt(((childPlanDuration + newValue) / 3600)) + ":" + parseInt((((childPlanDuration + newValue) / 60) % 60));
        $("#PlanDuration").val(planDuration);
    });

    $('#durationMin').change(function () {
        var childPlanDuration = parseInt(getChildPlanDuration());
        var newValue = ($(this).val() * 60) + parseInt($("#durationHr").val()) * 3600;
        var planDuration = parseInt(((childPlanDuration + newValue) / 3600)) + ":" + parseInt((((childPlanDuration + newValue) / 60) % 60));
        $("#PlanDuration").val(planDuration);
    });

    $('#factDurationHr').change(function () {
        var childFactDuration = parseInt(getChildFactDuration());
        var newValue = ($(this).val() * 3600) + parseInt($("#factDurationMin").val()) * 60;
        var planDuration = parseInt(((childFactDuration + newValue) / 3600)) + ":" + parseInt((((childFactDuration + newValue) / 60) % 60));
        $("#FactDuration").val(planDuration);
    });

    $('#factDurationMin').change(function () {
        var childFactDuration = parseInt(getChildFactDuration());
        var newValue = ($(this).val() * 60) + parseInt($("#factDurationHr").val()) * 3600;
        var planDuration = parseInt(((childFactDuration + newValue) / 3600)) + ":" + parseInt((((childFactDuration + newValue) / 60) % 60));
        $("#FactDuration").val(planDuration);
    });

    function getChildFactDuration() {
        var value = $("#ChildFactDuration").val();
        return value;
    }

    function getChildPlanDuration() {
        var value = $("#ChildPlanDuration").val();
        return value;
    }

    function failed(xhr) {

        $("#errorModalText").text(xhr.responseText);

        $("#errorModal").modal({
            keyboard: false
        });
    }

    function onComplete(response, event) {
        
        var id = $("#Id").val();
        debugger;
        viewTask(id);
        refreshRow();
    }

</script>
