﻿@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "DMD Test Task";
}
    <link rel="stylesheet" href="~/css/mainPage.css" />
<div id="parent">
    <div id="tree">
        @await Html.PartialAsync("Partials/GoalPartial")
    </div>
    <div id="splitter">
    </div>
    <div id="info">
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="errorModalText" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function() {
            ExpandTree();
        });

        function ExpandTree() {
            $("#tree li > span").each(function(index) {
                $(this).trigger("click");
            });
        }

        $(document).on("click",
            '#tree li > span',
            function() {
                var parent = $(this).parent();
                if ($(parent).hasClass('parent'))
                    $(parent).toggleClass('closed');
                $('#tree li > span').parent().removeClass('selected');
                $('#tree li > span').removeClass('context-menu-one');
                $('#tree li > span').removeClass('without-delete');
                $(this).parent().addClass('selected');

                if ($(this).parent().children().not(this).length > 0) {
                    $(this).addClass('context-menu-one without-delete');
                } else {
                    $(this).addClass('context-menu-one');
                }
            });

        $(document).on('click',
            '#tree li.parent > span > span',
            function() {
                var parent = $(this).parent().parent();
                $(parent).toggleClass('closed');
                return false;
            });


        $.contextMenu({
                selector: '.context-menu-one',
                build: function($triggerElement, e) {
                    var conditionWithoutDelete = $triggerElement.hasClass('without-delete');
                    var conditionForRoot = $triggerElement.attr("data-id") === "fake_root";
                    if (!conditionWithoutDelete && !conditionForRoot) {
                        return {
                            callback: function(key, options) {
                                switch (key) {
                                case "add":
                                    AddNew($(this));
                                    break;
                                case "view":
                                    viewTask($(this).attr("data-id"));
                                    break;
                                case "delete":
                                    deleteRow($(this), e);
                                    break;
                                default:
                                    break;
                                }
                            },
                            items: {
                                "add": { name: "Добавить", icon: "post" },
                                "delete": { name: "Удалить", icon: "delete" },
                                "view": { name: "Смотреть" }
                            }
                        }
                    } else {
                        if (conditionForRoot) {

                            return {
                                callback: function(key, options) {
                                    switch (key) {
                                    case "add":
                                        AddNew($(this));
                                        break;
                                    default:
                                        break;
                                    }
                                },
                                items: {
                                    "add": { name: "Добавить", icon: "post" }
                                }
                            }

                        } else {
                            return {
                                callback: function(key, options) {
                                    switch (key) {
                                    case "add":
                                        AddNew($(this));
                                        break;
                                    case "view":
                                        viewTask($(this).attr("data-id"));
                                        break;
                                    default:
                                        break;
                                    }
                                },
                                items: {
                                    "add": { name: "Добавить", icon: "post" },
                                    "view": { name: "Смотреть" }
                                }
                            }
                        }
                    }
                }
            }
        );
        $("#tree").resizable({
            handleSelector: "#splitter",
            resizeHeight: false
        });

        function viewTask(id) {
            var url = '@Url.Action("GoalInfo", "Home")/?id=' + id;
            $.ajax({
                type: "GET",
                url: url,
                dataType: "html",
                success: function(response) {
                    $('#info').html(response);

                },

                failure: function(response) {
                    showErrorInModal(response.responseText);
                },
                error: function(response) {
                    showErrorInModal(response.responseText);
                }
            });
        }

        function AddNew(elem) {
            var parent = elem.attr("data-id");

            var url = '/api/Goal/Create/' + parent;
            if (parent === "fake_root") {
                url = '/api/Goal/Create';
            }
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function(response) {
                    refreshRow();
                },

                failure: function(response) {
                    showErrorInModal(response.responseText);
                },
                error: function(response) {
                    showErrorInModal(response.responseText);
                }
            });
        }

        function refreshRow() {
            var url = '@Url.Action("Tree", "Home")';
            $.ajax({
                type: "GET",
                url: url,
                dataType: "html",
                success: function(response) {
                    $("#tree").html(response);
                    ExpandTree();

                },

                failure: function(response) {
                    showErrorInModal(response.responseText);
                },
                error: function(response) {
                    showErrorInModal(response.responseText);
                }
            });
        }

        function deleteRow(elem, event) {
            var url = '/api/Goal/' + elem.attr("data-id");
            $.ajax({
                type: "DELETE",
                url: url,
                dataType: "json",
                success: function(response) {
                    refreshRow(elem);
                },

                failure: function(response) {
                    showErrorInModal(response.responseText);
                },
                error: function(response) {
                    showErrorInModal(response.responseText);
                }
            });
        }

        function showErrorInModal(responseText) {
            $("#errorModalText").text(responseText);

            $("#errorModal").modal({
                keyboard: false
            });
        }
    </script>
}