﻿#tree li > span {
    cursor: pointer;
    position: relative;
    transition: all .15s ease-out 0.15s;
}

#tree ul {
    padding-left: 25px;
    list-style: none;
}

#tree li > span > span {
    position: absolute;
    left: -25px;
}

    #tree li > span > span:before {
        display: block;
        content: "\25BC";
        transition: all .15s ease-out 0.15s;
    }

#tree li.closed > span > span:before {
    transform: rotate(-90deg);
}

#tree li.selected > span {
    color: blue;
}

#tree li.parent.closed > ul {
    --min-height: 0px;
    display: none !important;
    transition: all .5s ease-out 0.15s;
    overflow: hidden;
    color: red;
}

#tree li.parent > ul {
    min-height: 1rem !important;
}

#parent {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    --height: 90%;
}

#tree {
    flex: 0 0 auto;
    padding: 10px;
    width: 300px;
    min-height: 500px;
    min-width: 100px;
    max-width: 80%;
    white-space: nowrap;
    background: #ffffff;
    --color: white;
    overflow-y: hidden;
}

#splitter {
    flex: 0 0 auto;
    width: 18px;
    background: #535353;
    min-height: 200px;
    cursor: col-resize;
}

#info {
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1700px;
    }
}
